.main{
    height: 300px;
    width: 300px;
    background-color: black;
    animation-name: box;
    animation-duration: infinite;
    position: relative;
    animation-iteration-count: infinite;
    justify-content: center
}
@keyframes box;
0%{
    top:500px;
    left:500px;

}