p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: verdana;
    font-size: 16px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: verdana;
}
.img{
    display: flex;
    justify-content: space-around;
}
