.main{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.a ul li{
    display: inline;
    padding: 20px;
    text-decoration: underline;
}
.b{
    display:inline;
    padding: 20px;
}
.c ul li{
    display: inline;
    padding: 20px;
    text-decoration: underline;
}